/* Global */
body {
    background: url("../img/light.jpg") center;
    box-sizing: border-box;
}

/* Header */
.jumbotron {
    background: url("../img/header.jpg") center 320px;
    border-radius: 0;
    box-shadow: 0px 2px 20px 0px;
    padding: 50px;
    margin-bottom: 40px;
    opacity: .9;
}

#main-header {
    background: #7e8ae1;
    box-shadow: 0px 0px 10px 10px black;
    width: 500px;
    height: 100%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    font-family: 'MedievalSharp', cursive;
    font-size: 60px;
    font-weight: bold;
    color: white;
}

/* Main-Content Area */
.row {
    max-height: 518px;
    box-sizing: border-box;
}

.card {
    border: none;
    box-shadow: 0px 0px 10px 1px;
    height: 100%;
    padding: 5px;
    background-color: #7e8ae1;
}

.card-header {
    font-family: 'MedievalSharp', cursive;
    background: #d3d3d3;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
}

.card-body {
    background: #ddd;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

/* Rules Paragraphs */
.rules {
    font-size: 16px;
    line-height: 1.75;
    text-align: left;
    font-weight: bold;
    padding: 3px;
}

.span-title {
    font-weight: bold;
    background-color: #7e8ae1;
    border-radius: 2px;
    padding: 4px;
    font-size: 20px;
    text-align: center;
}

.span-bold {
    font-weight: bold;
}

/* Crystal Images */
.crystal{
    height: 100px;
    width: 120px;
    box-shadow: 0px 0px 10px 1px;
    background-color: #7e8ae1;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#crystal-card {
    text-align: center;
    background-color: #7e8ae1;
    padding: 5px;
}

/* Tracker Area */
#playarea {
    padding: 5px;
    background-color: #7e8ae1;
}

.scoreboard {
    background-color: #ddd;
    text-align: center;
    padding-top: 15px;
    font-size: 30px;
    height: 33.33%;
    font-size: 40px;
    border-bottom: solid black 1px;
}

.scoreboard2 {
    background-color: rgba(221, 221, 221, 0.863);
    text-align: center;
    padding-top: 15px;
    font-size: 30px;
    height: 33.33%;
    font-size: 40px;
    border-bottom: solid black 1px;
}

.scoreboard3 {
    background-color: rgba(221, 221, 221, 0.637);
    text-align: center;
    padding-top: 15px;
    font-size: 30px;
    height: 33.33%;
    font-size: 40px;
}

.padding {
    padding-top: 45px;
}

#wins {
    padding: 0;
    margin: 0;
    border-bottom: dashed #858585 1px;
}

#losses {
    padding-top: 5px;
}