body {
    background: url("../img/light.jpg") center;
    box-sizing: border-box;
}

.jumbotron {
    background: url("../img/header.jpg") center 320px;
    border-radius: 0;
    box-shadow: 0px 2px 20px 0px;
    padding: 50px;
    margin-bottom: 40px;
    opacity: .9;
}

#main-header {
    background: #8fc4ff;
    opacity: .9;
    box-shadow: 0px 0px 10px 10px #8fc4ff;
    width: 500px;
    height: 100%;
    margin: auto;
    padding: 0;
    border-radius: 5px;
    font-family: 'MedievalSharp', cursive;
    font-size: 60px;
    font-weight: bold;
    color: black;
}

#rules {
    background: #7e8ae1;
}

.card {
    border: none;
    box-shadow: 0px 0px 10px 1px;
    border-radius: 3px;
}

.card-header {
    font-family: 'MedievalSharp', cursive;
    /* background: #3795ff; */
    font-weight: bold;
    text-align: center;
    font-size: 36px;
}

.card-body {
    /* background: #8fc4ff; */
    text-align: center;
    font-family: 'Rubik', sans-serif;
    padding: 10px;
    height: 450px;
}

.rules {
    font-size: 16px;
    line-height: 1.75;
    text-align: justify;
    font-weight: bold;
}

#game-area {
    background: rgb(109, 162, 241);
    color: white;
}

img {
    vertical-align: none;
}

.crystal {
    height: 100px;
    width: 120px;
    margin: 6px;
    box-shadow: 0px 0px 10px 1px;
}

#crystal-card {
    text-align: middle;
}

.scoreboard {
    /* background-color: #8fc4ff; */
    padding: 30px;
    text-align: center;
    font-size: 30px;
    height: 170px;
    border: 1px solid black;
    border-radius: 2px;
}

#asdf {
    height: 129px;
}